<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
     <property name="hibernate.connection.url">jdbc:mysql://aanfrcjh7hflzl.ces0bsvgrqsy.ap-south-1.rds.amazonaws.com:3306/ebdb</property>
     <!-- <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/ebdb</property> -->
    <property name="hibernate.connection.username">moneybuddy</property>
    <property name="hibernate.connection.password">Moneybuddy123</property>
     <property name="hibernate.show_sql">true</property>
     <!-- Mapping with model class containing annotations -->
	 <mapping class="com.myMoneyBuddy.EntityClasses.AdditionalCustomerDetails"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.BankDetails"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.CustomerAccountDetails"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.CustomerLoginActivity"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.CustomerPasswordsHistory"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.CustomerPortfolio"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.Customers"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.DbfFileStatusDetails"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.KycStatus"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.NavHistory"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.PaymentDetails"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.PriceHistory"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.ProductDetails"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.RtaSpecificCodes"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.SipDetails"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.TransactionDetails"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.Transactions"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.Subscriber"/>
	 <mapping class="com.myMoneyBuddy.EntityClasses.FundDetails"/>
  </session-factory>
</hibernate-configuration>
