/* ToolTip */
.tooltipOuter {
    -webkit-box-shadow:  2px 2px 3px 0px #666666;
    box-shadow:  2px 2px 3px 0px #666666;
    position: absolute;
    z-index: 5000;
    display:block;
    top:200px;
    left:200px;
    min-width:130px;
    max-width:300px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display:none;
}
.tooltipInner {
    background: #666666;
    -webkit-box-shadow: inset 2px 2px 3px 0px #666666;
    box-shadow: inset 2px 2px 3px 0px #666666;
    padding: 0.75em;
    color:white;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.tooltipInner::before {
    content: " ";
    display: block;
    background-color: transparent;
    position: absolute;
    bottom: -6px;
    margin: 0 0 0 -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
}


/* example css */
.padding {
  padding:3em;
  position:relative;
}
.icon-help {
  cursor:pointer;
  font-size:11px;  
  background:#000;
  color:#fff;
  padding:0 0.25em;
  border-radius:40%;
}